@model IEnumerable<Employee>


<h2>User Profile</h2>



<br />
<br />
<div>
    <label>First Name:</label>
    <span>@ViewBag.FirstName</span>
</div>

<div>
    <label>Last Name:</label>
    <span>@ViewBag.LastName</span>

</div>
<div>
    <label>Salary:</label>
    <span>@ViewBag.Salary</span>
</div>
<div>
    <label>Email:</label>
    <span>@ViewBag.Email</span>
</div>
<div>
    <label>Phone Number:</label>
    <span>@ViewBag.PhoneNumber</span>
</div>

<div>
    <label>Number Of Sick Leaves:</label>
    <span>@ViewBag.SickLeave      </span>

</div>

<div>
    <label>Number Of Vacation Leaves:</label>
    <span>@ViewBag.VacationLeave</span>

</div>

<div>
    <label>Number Of Maternity Leaves:</label>
    <span>@ViewBag.MaternityLeave</span>

</div>